<h1>About the zone</h1>

<p>See who of your colleagues or sub teams are in the zone.</p>
<p>Data is only stored in the browser (localStorage). If you want to share data you need to export/import.</p>

<div class="panel">
    <button on:click={triggerImport}>Import</button>
    <input id="importFile" type="file" on:change={doImport} style="display:none"/>
    <br>
    <button on:click={doExport}>Export</button>
    <span>
        <label>Team:</label> 
        <select name="team">
            <option value="">-</option>
            {#each teams as team, i}
                <option value={team}>{team}</option>
            {/each}
        </select>
    </span>
</div>

<figure>
  <img alt="Borat" src="great-success.png" />
    <p><strong>Try to find a free slot for your meeting.</strong></p>
  <figcaption>Good luck!</figcaption>
</figure>

<script>
  import * as sapper from "@sapper/app"
  import { onMount } from 'svelte'

  let members = []
  let teams = []

  onMount(async () => {
    teams = TZ.Members.getTeams()
    members = TZ.Members.all()
  })

  function triggerImport() {
      document.getElementById('importFile').click()
  }
  function doImport() {
    const reader = new FileReader()
    reader.onload = function(event) {
        const membersToImport = JSON.parse(event.target.result)
        membersToImport.forEach(TZ.Members.save)
        alert('It seems we have imported something!')
    }
    reader.onerror = error => reject(error)
    reader.readAsText(this.files[0])
  }
  function doExport() {
      const team = document.querySelector('[name="team"]').value
      const membersToExport = TZ.Members.all(team)

    var a = document.createElement("a")
    var file = new Blob([JSON.stringify(membersToExport)], {type: 'text/json'})
    a.href = URL.createObjectURL(file)
    a.download = 'theZone.json'
    a.click();
  }
</script>

<style>
  h1,
  figure,
  p {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  .panel {
        margin: 50px 0 1em 0;
      text-align: center;
  }

  figure {
    margin: 50px 0 1em 0;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1em 0;
  }

  </style>

<svelte:head>
	<title>The Zone - About</title>
</svelte:head>
