<script>
  import * as sapper from "@sapper/app"
  import { onMount } from 'svelte'
  let currentTime = ''
  let teams = []
  let members = []
  let document

  onMount(async () => {
    currentTime = TZ.formatTime()
    teams = TZ.Members.getTeams()
    members = TZ.Members.all()
  })

  setInterval(function() {
    currentTime = TZ.formatTime();
    const team = document && document.querySelector('[name="team"]').value;
    members = TZ.Members.all(team);
  }, 10000);

  function add() {
    sapper.goto("/thezone/members/new");
  }
  function edit() {
    sapper.goto(`/thezone/members/${event.currentTarget.parentNode.id}`);
  }
  function remove() {
    members = TZ.Members.remove(event.currentTarget.parentNode.id);
  }
  function changeTeam() {
    members = TZ.Members.all(this.value);
  }
  function getBackgroundColor(member) {
    const isWorking = TZ.isWorking(member);
    return isWorking ? "green" : "red";
  }
</script>

<style>
  .bar {
    /* width: 100%; */
    font-weight: bold;
    margin: 7px 0;
  }
  .currentTime {
    float: right;
  }
  .filter {
    text-align: right;
  }
	select {
    position: relative;
	}
</style>

<div class="filter">
  <label>Filter Team:</label>
  <select name="team" on:change={changeTeam}>
    <option value="">-</option>
    {#each teams as team, i}
      <option value={team}>{team}</option>
    {/each}
  </select>
</div>

{#each members as member, i}
  <div class="bar" style="color: {getBackgroundColor(member)}">
     {member.name} {member.startTime} {member.endTime} {member.timeZone} ({member.offset})
    <span class="currentTime">{member.localTime}</span>
  </div>
{/each}
{#if !members || !members.length}
  There are no members yet! Create some under 'Members' or import them under
  'About'.
{/if}

<svelte:head>
  <title>The Zone</title>
</svelte:head>
