
<svelte:head>
	<title>The Zone - Member</title>
</svelte:head>

<h1>Member</h1>

{#if errors && errors.length}
    <div class="errors">
        {#each errors as error}
            <p>{@html error}</p>
        {/each}
    </div>
{/if}

<form class='content'>
<input type="hidden" name="id" value={member.id}/>
<label>Name:</label> <input name="name" bind:value={member.name}/><br>
<label>Starttime:</label> <input type="time" name="startTime" bind:value={member.startTime}/><br>
<label>Endtime:</label> <input type="time" name="endTime" bind:value={member.endTime}/><br>
<!-- <label>Name:</label> <input name="timeZone" bind:value={member.timeZone}/><br> -->
<!-- <label>Timezone:</label> <select name="timeZone"> -->
<!-- <label>Timezone:</label> <select name="timeZone" bind:value={member.timeZone}> -->
<label>Timezone:</label> <select name="timeZone">
    <option value="">-</option>
    {#each timezones as timezone, i}
        <option value={timezone.abbr} selected={selectedTimezone(member, timezone)}>{timezone.value} ({timezone.abbr}/{timezone.offset})</option>
        <!-- <option value={timezone.abbr}>{timezone.value} ({timezone.abbr}/{timezone.offset})</option> -->
    {/each}
</select><br>
<label>Team:</label> <input name="team" bind:value={member.team}/><br>

<button on:click={save} type="submit">Save</button>

</form>

<script context="module">
	export async function preload({ params, query }) {
        return { id: params.id }
	}
</script>

<script>
    import * as sapper from '@sapper/app'
    import { onMount } from 'svelte'

    export let id
    let timezones = []
    let teams = []
    let members = []
    let member = {}
    let errors = []

    onMount(async (a) => {
        timezones = TZ.Timezones.all()
        teams = TZ.Members.getTeams()
        members = TZ.Members.all()
        member = members && members.find((m) => m.id === id) || {
            name: '',
            startTime: '09:00',
            endTime: '17:00',
            timeZone: '',
            team: '',
        }
    })
    
    function save(event) {
        event.preventDefault()
        errors = []
        member.timeZone = document.querySelector('[name="timeZone"]').value
        const mandatoryFields = ['name', 'startTime', 'endTime', 'timeZone']
        const notFilled = mandatoryFields.filter(field => !member[field])
        if (notFilled.length) {
            errors.push(`Mandatory: ${notFilled.join(', ')}`)
            return errors = errors
        }
        TZ.Members.save(member)
        sapper.goto("/thezone/members")
	}

    function selectedTimezone(member, timezone) {
        return member.timeZone === timezone.abbr ? 'selected' : ''
	}
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(input, select) {
        position: absolute;
        left: 200px;
	}

    .content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
    }
    
    .errors {
		color: red;
    }
</style>
