
<h1>The Zone - Members</h1>

<button on:click={add}>Add</button>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Timezone</th>
    </tr>
  </thead>
  <tbody>
    {#each members as member, i}
      <tr id={member.id}>
        <td>{i + 1}.</td>
        <td>{member.name}</td>
        <td>{member.startTime}</td>
        <td>{member.endTime}</td>
        <td>{member.timeZone}</td>
        <button on:click={edit}>Edit</button>
        <button on:click={remove}>Remove</button>
      </tr>
    {/each}
  </tbody>
</table>

<script context="module">

</script>

<script>
  import * as sapper from "@sapper/app"
  import { onMount } from 'svelte'

  let members = []

  onMount(async () => {
    //   console.log(TZ.Members.all())
    members = TZ.Members.all()
  })

  function add() {
    sapper.goto("/thezone/members/new")
  }
  function edit() {
    sapper.goto(`/thezone/members/${event.currentTarget.parentNode.id}`)
  }
  function remove() {
    members = TZ.Members.remove(event.currentTarget.parentNode.id)
  }
</script>

<style>

</style>

<svelte:head>
  <title>The Zone - Members</title>
</svelte:head>
